@model EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
}

<form method="post" asp-action="EditRole">
    <div class="border  m-2 p-4">
        <div class="form-group row">
            <h3 class=" text-center border-bottom d-inline m-1">
                Edit Role
            </h3>


        </div>

        <div class="row border-warning">
            <div class="col-12">
                <div class="form-group ">
                    <div class="col">
                        <label asp-for="Id">

                        </label>
                        <input asp-for="Id" disabled class="form-control">
                    </div>
                    <div class="col">
                        <label asp-for="RoleName">
                        </label>
                        <textarea asp-for="RoleName" class="form-control"></textarea>
                    </div>



                </div>

                <div class="col-4 ">
                    <div class="form-group row mt-4">

                        <div class="col">
                            <input type="submit" value="Edit" class="btn btn-warning" />
                        </div>
                        <div class="col">
                            <a asp-action="RoleList" class="btn btn-outline-warning">Back</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-12 m-4 font-weight-bold text-center">User List</div>

    <div class="card m-3">
        <div class="card-header">
            Users in this Role
        </div>

        <div class="card-body">
            @if (Model.Users.Any())
            {

                @foreach (var user in Model.Users)
                {




                    <div class="card-body ">
                        <h5 class="card-title">@user</h5>

                    </div>


                } }
            else
            {
                <h4 class="card-title">No Uers in this Role</h4>
            }
        </div>


        <div class="card-footer">

            <a asp-controller="Account" asp-action="EditUsersInRole"  asp-route-id="@Model.Id" class="btn btn-warning">Add/Remove User</a>

        </div>

    </div>
  
</form>


