@model Propr

    
    <center>
        <h1 class=" border-bottom d-inline border-dark text-center"> التفاصيل</h1>

        <div class="container"></div>
        <div class="row"></div>

        <h3>@Model.Name</h3>
        <br />
        <h3>@Model.Decription</h3>

        <a class="btn btn-warning" asp-controller="Propr" asp-action="AGategories">Back</a>
    </center>